.table {
  display: flex;
  height: 40px;
  border-bottom: 1px solid var(--secondary-color);
  align-items: center;
}

.column {
  flex: 1 0 13%;
  font-size: 13px;
  color: var(--secondary-color);

  &:first-child {
    flex: 1 0 8%;
    padding-left: 8px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: .2s;

    &:hover {
      opacity: 1;
    }
  }

  &:nth-child(2) {
    flex: 0 1 40%;
  }
}

.addString {
  background: var(--bg-color);
  padding: 5px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.delete {
  background: var(--bg-color);
  padding: 4px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}